<div id="appointment-list-container">
    <app-header></app-header>
    <section class="inner-container">
        <div class="top-padding-container">
            <div class="back-btn"><img src="../../../assets/images/menu/back.svg"></div>
            <div class="search-container">
                <div class="search">
                    <input type="text" placeholder="Search">
                </div>
            </div>
        </div>
        <div class="appointment-list">
            <div class="appointment-list-bullet">
                <div class="date">AUG 5, TODAY</div>
                <div class="appointment-box">
                    <ul>
                        <li>
                            <div class="detail-container withBorder pending-tab">
                                <div class="time">2:00 PM</div>
                                <div class="status pending">Pending</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-container">
                                <div class="title">Event Title</div>
                                <div class="address">345 Flinders Street, Adelaide </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="appointment-list-bullet">
                <div class="date">AUG 6, TOMORROW</div>
                <div class="appointment-box">
                    <ul>
                        <li>
                            <div class="detail-container withBorder">
                                <div class="time">9:00 AM</div>
                                <div class="status">&nbsp;</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-container">
                                <div class="title">Event Title</div>
                                <div class="address">345 Flinders Street, Adelaide </div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="detail-container withBorder">
                                <div class="time">9:00 AM</div>
                                <div class="status">&nbsp;</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-container">
                                <div class="title">Job Interview with Woolworths</div>
                                <div class="address">345 Flinders Street, Adelaide </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="appointment-list-bullet">
                <div class="date">AUG 6, TOMORROW</div>
                <div class="appointment-box">
                    <ul>
                        <li>
                            <div class="detail-container withBorder">
                                <div class="time">9:00 AM</div>
                                <div class="status">&nbsp;</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-container">
                                <div class="title">Event Title</div>
                                <div class="address">345 Flinders Street, Adelaide </div>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <div class="detail-container withBorder">
                                <div class="time">9:00 AM</div>
                                <div class="status">&nbsp;</div>
                            </div>
                        </li>
                        <li>
                            <div class="detail-container">
                                <div class="title">Job Interview with Woolworths</div>
                                <div class="address">345 Flinders Street, Adelaide </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>