<div id="position-list-container">
    <app-header menuHeader="Positions"></app-header>
    <section class="inner-container">
        <div class="back-btn"><a routerLink="#"></a><img src="../../../assets/images/menu/back.svg"></div>
        <div class="position-list-content">
            <div class="list-box">
                <div class="company-logo"><img src="../../../assets/images/position-details/placeholder.jpg"></div>
                <div class="company-name">Woolsworth</div>
                <p class="position-title">Refugee Employment Program</p>
                <p class="date">Closes 1 April 2019</p>
                <p class="short-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
                </p>
                <div class="status">
                    <div class="applied">Applied</div>
                </div>
            </div>
            <div class="list-box">
                <div class="company-logo"><img src="../../../assets/images/position-details/placeholder.jpg"></div>
                <div class="company-name">Woolsworth</div>
                <p class="position-title">Night Fill</p>
                <p class="date">Closes 1 April 2019</p>
                <p class="short-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
                </p>
            </div>
        </div>
    </section>
</div>