<div id="stepper-container">
    <h2>Step {{stepNumber}} of 7</h2>
    <ul>
        <li [className]="stepNumber === '1' ? 'active' : ''"><div>1</div></li>
        <li [className]="stepNumber === '2' ? 'active' : ''"><div>2</div></li>
        <li [className]="stepNumber === '3' ? 'active' : ''"><div>3</div></li>
        <li [className]="stepNumber === '4' ? 'active' : ''"><div>4</div></li>
        <li [className]="stepNumber === '5' ? 'active' : ''"><div>5</div></li>
        <li [className]="stepNumber === '6' ? 'active' : ''"><div>6</div></li>
        <li [className]="stepNumber === '7' ? 'active' : ''"><div>7</div></li>
    </ul>
</div>