<div id="appointment-detail-container">
    <app-header></app-header>
    <section class="inner-container">
        <div class="withPadding">
            <div class="back-btn"><img src="../../../assets/images/menu/back.svg"></div>
            <h1>Refugee Employment Program</h1>
        </div>
        <div class="details">
            <div class="withPadding">
                <p class="location">Woolworths</p>
                <p class="time">April 21,9am - 5pm</p>
                <p class="schedule">Add to my calendar</p>
            </div>
        </div>
        <div class="withPadding notes">
            <h2>Notes</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        </div>
        <div class="action-btns">
            <div class="btn"><a>Decline</a></div>
            <div class="btn"><a>Accept</a></div>
        </div>
    </section>
</div>