// FONT COLOR
$black: #000;
$white: #fff;
$bluish: #1DA8BD;
$bluish-darker: #20A8BC;
$background-blue: #23ABBB;
$dark-grey: #9A9A9A;
$grey: #383838;
$lightest-grey: #979797;
$light-grey: #7F7F7F;
$placholder-grey:#A8A8A8;
$light-green: #E3F2E5;
$disable-grey: #8E8E8E;
$border-grey: #CECECE;
$greyish: #6C6C6C;
$red: #FF4242;
$pending-red: #FF4B4B;
$yellow: #FFC65A;
$light-yellow: #FFFFF8;
$darker-yellow: #FFEFD5;
$divider: #DCE3F5;
$purple: #788AFC;
$light-purple:#D8DBFF;
$lightest-blue: #F1FBFF;
$green: #61CF83;
$blue: #0D74F0;
$opacity-black: #020202;

// FONT TYPE
$FONT-FAMILY-BOLD: 'Proxima-Bold';
$FONT-FAMILY-REGULAR: 'Proxima-Regular';
$FONT-FAMILY-SEMIBOLD: 'Proxima-SemiBold';