<div id="menu-container">
    <div class="menu">
        <ul>
            <li (click)="toggleMenu()"><img src="../../../assets/images/menu/back.svg"></li>
            <li><a href="#">Home</a></li>
            <li class="notification"><a routerLink="/notification" routerLinkActive="active">Notification</a></li>
            <li class="vacancy"><a routerLink="/position">View Vacancies</a></li>
            <li class="events"><a href="#">View Events</a></li>
            <li class="appointement"><a href="#">Your Appointments</a></li>
            <li class="message"><a href="#">Messages</a></li>
            <li class="profile"><a href="#">Profile</a></li>
        </ul>
        <div class="footer-action">
            <div><p>Change Password</p></div>
            <div><p>Logout</p></div>
        </div>
    </div>
</div>