<div id="step-four-container" class="form-content">
    <h3>Step 4 - Types of Work</h3>
    <h1>What type of work are you interested in?</h1>
    <div class="occupation-list">
        <ul>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/construction.svg"></span>
                    <label class="container">Construction
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/retail.svg"></span>
                    <label class="container">Retails and Sales
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/cleaning.svg"></span>
                    <label class="container">Cleaning and Housekeeping
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/admin.svg"></span>
                    <label class="container">Admin
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/hospitality.svg"></span>
                    <label class="container">Hospitality
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/warehouse.svg"></span>
                    <label class="container">Warehousing/Logistics
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
            <li>
                <div>
                    <span class="icon"><img src="../../../../assets/images/skills-profile/agribusiness.svg"></span>
                    <label class="container">Agribusiness
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </li>
        </ul>
    </div> 
    <div class="action-btns skills">
        <div>
            <div class="stepper-back-btn btn" (click)="setPrevStep()"><a>Back</a></div>
        </div>
        <div>
            <div class="next-btn btn" (click)="setNextStep()"><a>Next</a></div>
        </div>
    </div>
</div>