<div id="skill-one-container" class="form-content">
    <h3>Step 1</h3>
    <h1>Introduce yourself</h1>
    <p>A personal introduction can help employers get to know you.</p>
    <div class="upload-container">
        <div class="icon"><img src="../../../../assets/images/skills-profile/upload.svg"></div>
        <p>Upload a video of yourself MP3, Vimeo format accepted</p>
        <div class="upload"><a>Upload Video</a></div>
    </div>
    <div class="action-btns skills">
        <div>
            <div class="stepper-back-btn btn"><a>Back</a></div>
        </div>
        <div>
            <div class="next-btn btn"><a (click)="setNextStep()">Next</a></div>
        </div>
    </div>
</div>