<div id="onboarding-container">
    <app-header></app-header>
    <section class="inner-container">
        <div class="withPadding">
            <div class="back-btn"><img src="../../../assets/images/menu/back.svg"></div>
            <app-stepper></app-stepper>
        </div>
        <div class="onboarding-form-content">
            <app-onboarding-step-one></app-onboarding-step-one>
            <!-- <app-onboarding-step-three></app-onboarding-step-three> -->
        </div>
    </section>
</div>
    