<div id="review-container">
    <section>
        <app-header (menu)="toggleMenu($event)"></app-header>
        <div class="review-content">
            <div class="review-icon"><img src="../../../assets/images/review/contract.svg"></div>
            <h1>You’re all set and we’re reviewing your application.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
    </section>
    <div class="btn-container">
        <div class="done-btn btn"><a>Done</a></div>
    </div>
</div>