<div id="onboarding-three-container">
    <div class="withPadding">
        <h3>Step 3</h3>
        <h1>Are you currently working?</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        <ul>
            <li>
                <div>
                    <div class="icon"><img src="../../../../assets/images/onboarding/coin.svg"/></div>
                    <label>Yes, I have paid work</label>
                </div>
            </li>
            <li>
                <div>
                    <div class="icon"><img src="../../../../assets/images/onboarding/volunteer.svg"/></div>
                    <label>Yes, I have volunteer work</label>
                </div>
            </li>
            <li>
                <div>
                    <div class="icon"><img src="../../../../assets/images/onboarding/study.svg"/></div>
                    <label>Studying</label>
                </div>
            </li>
            <li>
                <div>
                    <div class="icon"><img src="../../../../assets/images/onboarding/employed.svg"/></div>
                    <label>No, I am unemployed</label>
                </div>
            </li>
        </ul>
    </div>
    <div class="withBorders">
        <div class="withPadding work-stat">
            <h2>My work is:</h2>
            <div class="options">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="fulltime">Full time</mat-radio-button>
                    <mat-radio-button value="parttime">Part Time</mat-radio-button>
                    <mat-radio-button value="casual">Casual</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="action-btns">
                <div class="stepper-back-btn btn"><a>Back</a></div>
                <div class="nect-btn btn"><a>Next</a></div>
            </div>
        </div>
    </div>
</div>