<div id="step-four-container" class="form-content">
    <h3>Step 5 - Your Abilities</h3>
    <h1>Tell us about your abilities. Select all that apply.</h1>
    <div class="ability-list">
        <div class="checkbox-container">
            <mat-checkbox>Basic computer knowledge</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Enjoy being around people</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Understand verbal and written English</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Physically fit</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Drivers licence/own transport</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Team player</mat-checkbox>
        </div>
        <div class="checkbox-container">
            <mat-checkbox>Solution focused</mat-checkbox>
        </div>
    </div>
    <div class="action-btns skills">
        <div>
            <div class="stepper-back-btn btn" (click)="setPrevStep()"><a>Back</a></div>
        </div>
        <div>
            <div class="next-btn btn" (click)="setNextStep()"><a>Next</a></div>
        </div>
    </div>
</div>