<div id="survey-container">
    <app-header></app-header>
    <section class="inner-container">
        <div class="withPadding">
            <div class="back-btn"><img src="../../../assets/images/menu/back.svg"></div>
            <h1>Introduction.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
        <div class="mood withBorders question">
            <div class="withPadding">
                <h1>How was your first day? <br> Bad, neutral, good</h1>
                <div class="emoticons">
                    <div><img src="../../../assets/images/survey/bad.svg"></div>
                    <div><img src="../../../assets/images/survey/neutral.svg"></div>
                    <div><img src="../../../assets/images/survey/good.svg"></div>
                </div>
            </div>
        </div>
        <div class="withBorders question">
            <div class="withPadding">
                <h1>Did you get to work on time?</h1>
                <div class="options">
                    <mat-radio-group aria-label="Select an option">
                        <mat-radio-button value="yes">Yes</mat-radio-button>
                        <mat-radio-button value="no">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="withBorders question">
            <div class="withPadding">
                <h1>What did you have for lunch??</h1>
                <div class="options">
                    <div class="checkbox-container">
                        <mat-checkbox>Sandwich</mat-checkbox>
                    </div>
                    <div class="checkbox-container">
                        <mat-checkbox>Pie</mat-checkbox>
                    </div>
                </div>
                <div class="action-btns">
                    <div class="stepper-back-btn btn"><a>Back</a></div>
                    <div class="btn"><a>Submit</a></div>
                </div>
            </div>
        </div>
    </section>
</div>