<div id="position-details-container">
    <app-header menuHeader="Position Details"></app-header>
    <div class="position-details inner-container">
        <section>
            <div class="back-btn"><img src="../../../assets/images/menu/back.svg"></div>
            <div class="position-details-content">
                <div class="position-intro">
                    <div class="company-logo"><img src="../../../assets/images/position-details/placeholder.jpg"></div>
                    <div class="company-name">Woolworths</div>
                    <p class="position-title">Refugee Employment Program</p>
                    <p class="location">Woolworths</p>
                    <p class="time">Closes</p>
                    <p class="position-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.
                    </p>
                </div>
            </div>
        </section>
        <section>
            <div class="overview">
                <h1>Position Overview</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
            </div>
            <div class="overview-detail">
                <h2>Job Type:</h2>
                <p>Casual and part time roles are available.</p>
            </div>
            <div class="overview-detail">
                <h2>Hours of work:</h2>
                <p>Base contract of 10 hours up to 25 hours per week.</p>
            </div>
            <div class="overview-detail">
                <h2>Hourly rate of pay:</h2>
                <p>Dependent on age of applicant (above award rates).</p>
            </div>
            <div class="overview-detail">
                <h2>Location:</h2>
                <p>Various locations across New South Wales.</p>
            </div>
        </section>
        <div class="action-container">
            <div>
                <p>Cashier</p>
                <label>Woolworths</label>
            </div>
            <div>
                <div class="apply-btn btn">
                    <a>Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>
